@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');

.main {
	color: #526d82;
	display: block;
	font-size: 12px;
	margin: 0 auto;
	max-width: 300px;
	min-width: 290px;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 30px 0 250px 0;
}

.title {
	color: #e57c23;
	margin: 0 auto;
}

.weather {
	margin: 0;
}

.minmax {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.minmax span,
.history span,
.temperature,
.weather__city {
	color: #27374d;
}

.minmax span,
.history span {
	font-weight: bold;
}

.bar {
	margin: 0;
	border: solid #dde6ed 1px;
}

.temperature {
	margin: 0;
	font-weight: semibold;
	font-size: 40px;
	padding-bottom: 15px;
}

.temperature span {
	color: #9db2bf;
}

.weather__city {
	padding-top: 15px;
	font-weight: bold;
}

.weather__next {
	color: #9db2bf;
}

.history {
	padding-top: 15px;
}

.badge {
	align-items: center;
	background-color: white;
	border-radius: 30px;
	border: solid #dde6ed 1px;
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

.loading {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: flushing infinite 1.5s ease-in-out;
}

@keyframes flushing {
	0% {
		color: #27374d;
	}

	50% {
		color: white;
	}

	100% {
		color: #27374d;
	}
}

@media only screen and (min-width: 1280px) {
	.main {
		min-width: 400px;
	}

	.logo {
		margin: 0;
		padding: 260px 0 20px 0;
	}

	.card {
		background-color: white;
		min-width: 350px;
		padding: 25px;
		padding-bottom: 0;
		position: relative;
		width: 300px;
		height: 130px;
		border: solid 2px #e57c23;
		border-radius: 4px;
	}

	.bar:last-child {
		display: none;
	}

	.badge {
		position: relative;
		right: 15px;
		min-width: 400px;
	}
	
	.weather__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
	}

	.weather__city {
		padding: 0;
	}
}
