@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&display=swap');

.rights {
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #9db2bf;
	text-align: center;
	padding-top: 180px;
	font-size: 12px;
}
